/* .Todo-list-container{
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80rem;
  border: 1px solid black;
  height: 50vh;
}

.todo-form{
  /* border : 1px solid black;
  display: flex;
  width: 100%;
  margin-top: 3rem;
  font-size: 2rem;
  gap : 2rem;
}

.todo-form input{
  font-size: 3.5rem;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;

}
.todo-form input::placeholder{
  font-size: 2rem;

}

.todo-form button{
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
} */